

> # **Data Processing**

* Імпортуємо бібліотеки:

In [36]:
import pandas as pd

* Зчитуємо датасет та виводимо перші 5 значень:

In [37]:
dataset = pd.read_csv('/content/drive/MyDrive/list2.csv')
dataset.head()

,Country,Civilian firearms per 100 persons,GDP,Quality of Life Index,Crime Index,Income group,Region,Subregion,Population,Estimate of firearms in civilian possession,Registered firearms,Unregistered firearms
0,Montenegro,39.1,7900,134.85,41.10,Upper middle income,Europe,Southern Europe,626000,245000,"103,536","141,464"
1,Serbia,39.1,7400,117.23,38.29,Upper middle income,Europe,Southern Europe,6946000,2719000,"1,186,086","1,532,914"
2,Canada,34.7,43400,160.38,42.95,High income,Americas,North America,36626000,12708000,"2,081,442","10,626,558"
3,Uruguay,34.7,15800,122.26,51.44,High income,Americas,South America,3457000,1198000,"605,313","592,687"
4,Cyprus,34.7,26100,147.10,32.12,High income,Americas,South America,3457000,1198000,"605,313","592,687"

* Застосуємо функцію для опису всього датафрейму:

In [38]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 12 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Country                                      208 non-null    object
 1   Civilian firearms per 100 persons            208 non-null    float64
 2   GDP                                          208 non-null    int64
 3   Quality of Life Index                        208 non-null    float64
 4   Crime Index                                  208 non-null    float64
 5   Income group                                 208 non-null    object
 6   Region                                       208 non-null    object
 7   Subregion                                    208 non-null    object
 8   Population                                   208 non-null    object
 9   Estimate of firearms in civilian possession  208 non-null    int64
 10  Registered firearms                          127 non-null    object
 11  Unregistered firearms                        127 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 19.6+ KB

* Дізнаємося чи є в датасеті нульові поля:

In [39]:
dataset.isnull().any()

Country                                        False
Civilian firearms per 100 persons              False
GDP                                            False
Quality of Life Index                          False
Crime Index                                    False
Income group                                   False
Region                                         False
Subregion                                      False
Population                                     False
Estimate of firearms in civilian possession    False
Registered firearms                             True
Unregistered firearms                           True
dtype: bool

* Подивимость на кількість незаповнених даних:

In [40]:
dataset.isna().sum()

Country                                         0
Civilian firearms per 100 persons               0
GDP                                             0
Quality of Life Index                           0
Crime Index                                     0
Income group                                    0
Region                                          0
Subregion                                       0
Population                                      0
Estimate of firearms in civilian possession     0
Registered firearms                            81
Unregistered firearms                          81
dtype: int64

* Приберемо неважливі стопбчики

In [41]:
def delete_col(dataset, col):
    for column in col:
        dataset = dataset.drop(column, axis = 1)
    return dataset

dataset = delete_col(dataset, ['Estimate of firearms in civilian possession', 'Registered firearms', 'Unregistered firearms'])

* Переконвертуємо типи даних стовпчика GDP

In [42]:
def convertToFloat(dataset, col):
        dataset[col] = dataset[col].astype(float)

convertToFloat(dataset, 'GDP')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            208 non-null    object
 1   Civilian firearms per 100 persons  208 non-null    float64
 2   GDP                                208 non-null    float64
 3   Quality of Life Index              208 non-null    float64
 4   Crime Index                        208 non-null    float64
 5   Income group                       208 non-null    object
 6   Region                             208 non-null    object
 7   Subregion                          208 non-null    object
 8   Population                         208 non-null    object
dtypes: float64(4), object(5)
memory usage: 14.8+ KB

* Використаємо функцію, для створення описової статистики:

In [43]:
dataset.describe()

,Civilian firearms per 100 persons,GDP,Quality of Life Index,Crime Index
count,208.000000,208.000000,208.000000,208.000000
mean,9.036058,16991.293269,106.398365,45.518221
std,9.054099,23824.619917,38.595918,16.371727
min,0.000000,270.000000,46.570000,10.820000
25%,2.100000,2650.000000,73.852500,33.000000
50%,5.550000,6700.000000,98.890000,46.105000
75%,13.625000,22050.000000,133.935000,57.120000
max,39.100000,173000.000000,198.390000,85.830000

* Готовий датасет завантажуємо в новий файл .csv:

In [44]:
dataset.to_csv("/content/drive/MyDrive/Firearms.csv", sep=',', encoding='utf-8')